.cezembre-admin-forms-paragraph {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  > .contextual-menu {
    width: 40px;
    height: 40px;
    opacity: 0;
    visibility: hidden;
  }

  > .content {
    flex: 1;

    &.rich-text {
      font-size: 1.2em;
    }
  }

  &.active.empty {
    > .contextual-menu {
    }
  }
}
